<h2>hello Angular, </h2>
<app-counter></app-counter>

<app-host-listner></app-host-listner>

<h1>i am  Root component </h1>
<app-encapsulation-first></app-encapsulation-first> 
<app-preserve-white-space></app-preserve-white-space>
<app-if-directive></app-if-directive>
<app-switch-case></app-switch-case>
<app-for-directives></app-for-directives>
<app-header></app-header>
<app-ngclass-directive></app-ngclass-directive>
<app-ng-style></app-ng-style>
<app-interpolation></app-interpolation>
<app-interpolation-error-handling></app-interpolation-error-handling>
<app-attribute-binding></app-attribute-binding>
<app-style-binding></app-style-binding>
<app-class-binding></app-class-binding>
<app-property-binding></app-property-binding>
<app-event-binding></app-event-binding>
<app-two-way-databinding></app-two-way-databinding>
<app-two-way></app-two-way>
<!-- <app-pipe></app-pipe> -->
<app-new-pipe></app-new-pipe>
<app-custom-pipe></app-custom-pipe>
<app-injectable-service></app-injectable-service>
<app-utility-service></app-utility-service>
<app-get-api-method></app-get-api-method>